pandas==2.3.2
numpy==2.2.6
xgboost-cpu==3.0.4
joblib==1.5.2
shap==0.48.0
scikit-learn==1.7.1

anthropic==0.67.0
langchain==0.3.27
langchain-anthropic==0.3.20
langchain-core==0.3.76

fastapi==0.116.2
uvicorn==0.35.0
pydantic==2.11.7
python-multipart==0.0.20
nest-asyncio==1.6.0

python-dotenv==1.1.1